<app-admin-home></app-admin-home>
<div class="container">
<form method="post">
    
    <h1>Movie Show Time Page</h1>
  
    <div class="row">
             <div class="col-md-9">
               <div class="form-outline">
                 <label class="form-label" for="Time">Moring Show: </label>
                 <input type="time" placeholder="Please Set Moring Show time for Movie: "class="form-control form-control-lg">
               </div>
                
               <div class="form-outline">
               <label for="movieImage" class="form-label">Afternoon Show :  </label>
               <input type="time" placeholder="Please Set Afternoon Show time for Movie:"class="form-control form-control-lg" >
               </div>

               <div class="form-outline">
                <label for="movieImage" class="form-label">Evening Show:  </label>
                <input type="time" placeholder="Please Set Evening Show time for Movie:"  class="form-control form-control-lg" >
                </div>

                <div class="form-outline">
                    <label for="movieImage" class="form-label">Night Show:  </label>
                    <input type="time" placeholder="Please Set Night Show time for Movie:" class="form-control form-control-lg" >
                    </div>
        </div>
        </div>
    </form>

</div>