.nav a{
    float:center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover
{
    background-color: #ddd;
    color: black;
}
.nav a:active{
    background-color: pink;
    color: white;
}
.container h1{
    padding-bottom:5%;
    text-align: center;
    color: rgb(145, 18, 79);
}
.container button{
    padding:1% 1% 1% 1%;
    width: 20%;
}
.container button:hover{
    border-radius: 3%;
    border-color: #150801;
    color: white;
    width: 23%; 
}
.row
{
    padding-bottom: 4%;
    margin-top: 2rem;
}
